.button.is-large {
  padding: 2rem 5rem;
  font-size: 1.25rem;
}

.button.is-purple {
  background-color: #6C63FF;
  color: white;
  border-color: #6C63FF;
}

.button.is-purple.has-shadown {
  -webkit-box-shadow: 0px 11px 12px 0px rgba(108,99,255,0.51);
  -moz-box-shadow: 0px 11px 12px 0px rgba(108,99,255,0.51);
  box-shadow: 0px 11px 12px 0px rgba(108,99,255,0.51);
}

.button.is-black {
  background-color: #414056;
  color: white;
  border-color: #414056;
}

.button.is-black:hover{
  filter: brightness(90%);
  color: white;
  background-color: #414056;
}

.button.is-black.has-shadow {
  -webkit-box-shadow: 0 13px 20px 0 #5189C9;
  -moz-box-shadow: 0 13px 20px 0 #5189C9;
  box-shadow: 0 13px 20px 0 #5189C9;
}

@media screen and (min-width: 1024px){
  .reverse-desktop {
    padding-top: 0;
    flex-direction: row-reverse;
  }
}
